@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

img{
  max-width: 100%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  padding: 20px;
}

/*mobile first*/
.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}

@media (min-width: 640px) {
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 760px) {
  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .grid{
    grid-template-columns: repeat(4, 1fr);
  }
}
